#picContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-row-gap: 1rem;
    margin-top: 1rem;
}

.img {
    width: 10rem;
    height: 10rem;
    border: 1px solid black;
}

.picBox {
    height: 12rem;
    width: 12rem;
}